@model DeadIt.Models.DatabaseModel.ContentInfoFromDb

@{
    ViewData["Title"] = "TestUpdate";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<input type="button" id="updateTextButton" value="Обновить текст и имя" />

<p>Text: <span id="text"></span></p>
<p>Name: <span id="name"></span></p>
<div id="imageContainer"></div>

<script>
    $(document).ready(function () {
        var intervalIdText;    
        
        var choice1Button = $("<button>").text("Выбор 1").hide();                  
        var choice2Button = $("<button>").text("Выбор 2").hide();
        
        $("body").append(choice1Button);
        $("body").append(choice2Button);
        
        $("#updateTextButton").click(UpdateText);

        function UpdateText() {
            $.ajax({
                type: "GET",
                url: "/Main/NextTextWithoutChoice",
                dataType: "json",
                success: function (data) {
                    var text = data.text._Text;
                    var name = data.text._CharacterName;
                    var image = data.image._ImageData;
        
                    var textSpan = $("#text");
                    var nameSpan = $("#name");
                    var $imageContainer = $("#imageContainer");
        
                    if (data.text._NextChoiceID != 0) {
                        $("#updateTextButton").hide();
                        SpawnChoiceButton(data.choice, choice1Button, choice2Button);
                    }
        
                    var currentIndexText = 0;
        
                    clearInterval(intervalIdText);
        
                    nameSpan.text(name);
        
                    intervalIdText = setInterval(function () {
                        if (currentIndexText < text.length) {
                            textSpan.text(text.substring(0, currentIndexText + 1));
                            currentIndexText++;
                        } else {
                            clearInterval(intervalIdText);
                        }
                    }, 40);
        
                    CreateImageContainer(image, $imageContainer);
                },
                error: function () {
                    alert("Произошла ошибка при выполнении запроса!!");
                }
            });
        }

        function CreateImageContainer(imageData, container) {
            if (imageData && imageData.length > 0) {
                var imgElement = $("<img>").attr("src", "data:image/png;base64," + imageData).attr("alt", "Image");
                container.html(imgElement);
            } else {
                container.html("<p>No image available</p>");
            }
        }

        function SpawnChoiceButton(data, button1, button2) {
            data.forEach(function (item, index) {
                if (index < 2) {
                    if (index === 0) {
                        button1.click(function () {
                            CallNextTextFromChoice(item.nextChoiceID);
                        });
                        button1.show().text(item.text);
                    }
                    
                    if (index === 1) {
                        button2.click(function () {
                            CallNextTextFromChoice(item.nextChoiceID);
                        });
                        button2.show().text(item.text);
                    }
                }
            });
        }
        
        function CallNextTextFromChoice(nextChoiceID) {
            $.ajax({
                type: "POST",
                url: "/Main/NextTextFromChoice",
                data: { nextChoiceID: nextChoiceID }, 
                dataType: "json",
                success: function (data) {
                    var text = data.choice.text;
                    var name = data.choice.characterName;
                    var image = data.image._ImageData;
                             
                    var textSpan = $("#text");
                    var nameSpan = $("#name");
                    var $imageContainer = $("#imageContainer");
                             
                    var currentIndexText = 0;
                             
                    clearInterval(intervalIdText);
                             
                    nameSpan.text(name);
                             
                    intervalIdText = setInterval(function () {
                        if (currentIndexText < text.length) {
                             textSpan.text(text.substring(0, currentIndexText + 1));
                             currentIndexText++;
                          } else {
                             clearInterval(intervalIdText);
                          }
                    }, 40);
                    
                    if (data.choice.nextChoiceID == 0)
                    {
                     choice1Button.hide();
                     choice2Button.hide();
                        
                     $("#updateTextButton").show();
                    }
                             
                    CreateImageContainer(image, $imageContainer);
                },
                error: function () {
                    alert("Произошла ошибка при выполнении запроса!!");
                }
            });
        }
    });
</script>