@model IEnumerable<DBChoices>

<!DOCTYPE html>
<html>
<head>
    <title>Test View</title>
</head>
<body>
    <h2>Choices:</h2>
    @foreach (var choice in Model)
    {
        <p>@choice.Text</p>
    }
</body>
</html>
