.speech-background {
    position:relative;
    width: 250px;
    height: 150px;
    background-color: navajowhite;
    border: 1px solid black;
}

.speech-name-text {
    position: absolute;
    bottom: 20px;
}

.speech-input {
    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    display: block;
    margin-left: 35px;
    position: center;
}

.speech-button-next {
    width: 70px;
    height: 30px;
}

.speech-button-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-right: 10px;
}

.speech-anchor-button-right {
    position: absolute;
    left: 101%;
    top: 40%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    border: none;
    cursor: pointer;
}

.speech-anchor-button-left {
    position: absolute;
    right: 101%;
    top: 40%;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    border: none;
    cursor: pointer;
}
.speech-checkbox-is-first {
    position: absolute;
    left: 80%;
    bottom: 80%;
    z-index: 100;
    width: 16px;
    height: 16px;
}