@model DBText

@{
    ViewData["Title"] = "TestUpdate";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<input type="button" id="updateTextButton" value="Обновить текст и имя" />

    <p>Текст: <span id="text"></span></p>
    <p>Имя: <span id="name"></span></p>

<script>
     $(document).ready(function () {
         var intervalIdText;

         $("#updateTextButton").click(function () {
             $.ajax({
                 type: "GET",
                 url: "/Home/UpdateText",
                 dataType: "json",
                 success: function (data) {
                     var text = data._Text;
                     var name = data._CharacterName;
                     var textSpan = $("#text");
                     var nameSpan = $("#name");
                     var currentIndexText = 0;

                     clearInterval(intervalIdText);

                     nameSpan.text(name);

                     intervalIdText = setInterval(function () {
                         if (currentIndexText < text.length) {
                             textSpan.text(text.substring(0, currentIndexText + 1));
                             currentIndexText++;
                         } else {
                             clearInterval(intervalIdText);
                         }
                     }, 40);
                 },
                 error: function () {
                     alert("Произошла ошибка при выполнении запроса!!");
                 }
             });
         });
     });
</script>

<h1>TestUpdate</h1>